#################################################
#                                               #
#                  .gitignore                   #
#                                               #
#################################################

#################################################
#                  Base  Files                  #
#################################################
a.out

#################################################
#                  Temp  Files                  #
#################################################
*~
*.o
.vscode
.history
vgcore*

#################################################
#               Criterion Files                 #
#################################################
unit_tests
*.gcno
*.gcda

#################################################
#                Project Files                  #
#################################################
my_defender
*.dat
